*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Bitter', serif;
    font-weight: 300;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.background{
    position: absolute;
    background-image: url(./ASSETES_SUBSCRIBE/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(5px);
}

h2{
    text-align: center;
    padding: 1rem
}

p{
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#mail_box{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    position: relative;
    color: #FFF;
    border: 1px solid #FFF;
}

#info_mailbox{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: 1rem;
    border: 1px solid #FFF;
    border-radius: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 10%;
}

.inputs > label{
    text-align: center;
    padding: 0.5rem;
}

.input{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 1.2rem;
}

#send{
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

#social{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 1px solid #FFF;
    border-radius: 20px;
}

#marca{
    width: 200px;
    cursor: pointer;
}

#social_a{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
    font-size: 2rem;
    
}

.social{
    transition: 1s;
}

.social:hover{
    transform: translateY(-20%);
    transition: 1s;
}

@media screen and (max-width:300px) {
    #mail_box{
        height: 70vh;
        width: 90%;
    }

    #info_mailbox{
        flex-direction: column;
        justify-content: center;
    }


    #form{
        width: 90%;
        margin: 1rem;
        border: 1px solid #FFF;
        border-radius: 20px;
        height: 100%;
    }

    #social{
        width: 90%;
        margin: 1rem;
        border: 1px solid #FFF;
        border-radius: 20px;
    }

    #social_h2{
        display: none;
    }

    #marca{
        width: 125px;
    }

    .social{
        font-size: 1rem;
        padding: 0 0 1rem 0;
    }
}