*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Bitter', serif;
    font-weight: 300;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./ASSETES_SUBSCRIBE/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    padding: 1rem
}

p{
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#mail_box{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

#info_mailbox{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 10%;
}

.inputs > label{
    text-align: center;
    padding: 0.5rem;
}

.input{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(77, 86, 86, 0.2);
    font-size: 1.2rem;
}

#send{
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

#social{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 20px;
}

#marca{
    width: 200px;
    cursor: pointer;
}

#social_a{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
    font-size: 2rem;
    
}

.social{
    transition: 1s;
}

.social:hover{
    transform: translateY(-20%);
    transition: 1s;
}