*{
    margin: 0px;
    box-sizing: border-box;
    font-family:'Bitter', serif;
    font-weight: 300;
}

body{
    background-image: url(/CSS/ASSETS/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

h2{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

#container_home{
    margin-left: 10%;
    display: flex;
    align-items: center;
}

#a_img_home{
    height: 200px;
}

#img_home{
    width: 200px;
}

#h1_home{
    font-size: 2.5rem;
}

#container_ul{
    width: 8%;
    margin-right: 10%;
}

#header_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    
}

.header_icon{
    transition: 0.3s;

}

.header_icon:hover{
    cursor: pointer;
    transition: 0.3s;
    font-size: 3rem;
}

.open_menu,
.close_menu{
    display: none;
}

.products{
    width: 34%;
    margin: auto;
}

#ul_products{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: white;
    
}

.li_products{
    transition: 0.3s;
}

.li_products:hover{
    transition: 0.3s;
    transform: translateY(-20%);
    cursor: pointer;
}

#mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

#social{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    
}

.social_ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.social_li{
    transition: 0.3s;
}

.social_li:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-20%);
}
    

#welcomeText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    width: 30%;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-left: 10%;
}

#transition{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 55px;
    background: linear-gradient(transparent, black);
}

#container_payments{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background: black;
}

#container_products{
    padding: 2.5rem 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

.payments{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    font-size: 1.8rem;
    padding: 2rem 0;
}

.containerCards{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.cards{
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity:0.85;
    transition: 1s;
}

.cards:hover{
    opacity: 1;
    cursor: pointer;
    height: 510px;
    width: 430px;
    box-sizing: inherit;
    transition: 1s;
}

.texto{
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
}

.texto > h2{
    padding: 5px;
}


footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}

#footerLine{
    content: " ";
    background-color: white;
    height: 4px;
    position: relative;
    bottom: 0;
    width: 85%;
    margin: auto;
}

#footer_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerImg{
    width: 200px;
}

#container_paymedias{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    gap: 20px;
}

#paymedias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.paymedia{
    width: 100px;
}

#container_contacts{
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 5px;
}

#container_contacts > h2{
    padding-bottom: 10px;
}

@media screen and (max-width:300px) {
    body{
        background-position: center;
    }

    header{
        justify-content: space-between;
        padding: 0.3rem
    }

    #open{
        align-self: flex-start;
        margin-top: 2rem;
    }
    
    #container_home{
        margin-left: 0%;
        align-items: center;
    }
    
    #a_img_home,#img_home{
        height: 150px;
        width: 150px;
    }

    #a_h1_home,#h1_home{
        display: none;
    }

    #container_ul{
        display: none;
    }

    .open_menu,
    .close_menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

    #mainContainer{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .social_li{
        padding: 0 2rem;
    }

    #welcomeText{
        font-size: 0.8rem;
        margin: 0;
        width: 100%;
        padding: 1rem;
        height: 60%;
    }

    #p_welcomeText{
        align-self: self-start ;
    }

    .products{
        opacity: 0;
        visibility: hidden;
        
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 2.8rem;
        width: 100%;
        gap: 1rem;
    }

    .products.visible{
        opacity: 1;
        visibility: visible;
    }

    #ul_products{
        flex-direction: column;
        align-items: flex-start;
    }

    .payments{
        font-size: 0.8rem;
        text-align: center;
        width: 40%;
        padding: 1rem;
    }

    .containerCards{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .cards:hover{
        opacity: 1;
        cursor: pointer;
        height: 510px;
        width: 100%;
        transition: 1s;
    }

    #footer_content{
        flex-direction: column;
    }

    #container_paymedias{
        
        display: flex;
        text-align: center;
        width: 100%;
    }

    #paymedias{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #container_contacts{
        margin: 3rem 0;
        display: flex;
        text-align: center;
        gap: 5px;
    }
}